rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    match /leads/{leadId} {
      allow read, write: if signedIn();
    }

    match /tasks/{taskId} {
      allow read, write: if signedIn();
    }

    match /agents/{agentId} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == agentId;
    }
  }
}
